# Node modules
node_modules/

# Logs
logs/
*.log
npm-debug.log*

# Environment variables
.env
.env.local
.env.*

# Build folders
dist/
build/
.venv/

# OS files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/

voices/